html,
body 
{
 margin: 0;
 padding: 0;
}

body 
{
 color: #211f1e ;
 background: url(../img/bg.jpg) no-repeat center center fixed; 
 background-size: cover;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.container 
{
 position: relative;
 top: 10px;
}

h1 
{
 font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 80px;
 font-weight: normal;
 margin: 0;
 text-align: right;
 border-bottom: 1px solid #211f1e ;
 padding-bottom: 10px;
 padding-left: 20px;
 position: relative;
 width: 480px;
}

#he
{
	display: flex;
	justify-content: right;
}

h2 {
 /*border-top: 1px solid #211f1e ;*/
 font-size: 24px;
 font-weight: bold;
 margin: 10px 0 40px 0;
 padding: 30px 0 0 0;
 text-align: right;
}

.day > div {
    font-weight: bold;
 line-height: 48px;
}

.weekday span {
 font-size: 18px;
 font-weight: bold;
}

.weekday
{
	margin-top: 20px;
}

.weekday p {
 display: inline-block;
 font-size: 20px;
 font-weight: bold;
}

.weather img {
 width: 70px;
}

.weather
{
	font-size: 20px;
}

.high p,
.low p,
.hourly .temp {
 font-size: 16px;
}

.hourly {
 text-align: center;
 display: none;
}

.hourly .hour {
 font-weight: bold;
 font-size: 16px;
}

.hourly img {
 width: 24px;
}

.hourly p {
 margin: 16px 0;
}

.last {
 margin-bottom: 100px;
}

a
{
	text-decoration: none;
	border-radius: 25px 25px 25px 25px;
	color:white;
	background-color: rgba(175, 238, 238,0.5);
	padding: 10px 10px 10px 10px;
	margin-left: 50px;
}

a:hover
{
	background-color: #E0FFFF;
	text-decoration: none;
	color:#20B2AA;
}

a:focus
{
	color:#00BFFF;
	text-decoration: none;	
}



._1_day
{
	margin-top: 50px;
}

._5_days
{
	margin-top: 40px;
}

.humid
{
	font-size: 20px;
}

#day_of_week
{
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #211f1e ;
	padding-bottom: 20px;
}



